<div class="container mx-auto px-4 py-8">
  <div class="bg-white rounded-lg shadow-md p-8">
    <h1 class="text-4xl font-bold mb-8 text-gray-900 leading-tight text-center">Quiénes Somos</h1>
    <h2 class="text-3xl font-bold mb-6 text-gray-900 leading-tight">Misión</h2>
    <p class="text-lg text-gray-800 leading-relaxed mb-6">
      Brindar asistencia técnica-jurídica a la Gobernadora del Estado, a las Secretarías, Dependencias y Entidades de la Administración Pública del Estado y a los municipios cuando así lo instruya la depositaria del Poder Ejecutivo Estatal.
    </p>
    <p class="text-lg text-gray-800 leading-relaxed mb-6">
      Dicha asistencia técnica-jurídica comprende iniciativas de ley, facultad reglamentaria, la cual se materializa con la elaboración o revisión de reglamentos, lineamientos, circulares y órdenes, así como de convenios, contratos y acuerdos de coordinación, colaboración y concertación y de todo instrumento jurídico que suscriba la Gobernadora o que genere obligaciones para el Estado. Asimismo, la representación constitucional y legal en todo procedimiento contencioso o no contencioso en los que intervenga la Gobernadora con motivo de sus funciones o aquellos que por su relevancia así lo ameriten y se vinculen a los intereses del Estado.
    </p>
    <p class="text-lg text-gray-800 leading-relaxed mb-6">
      Presidir la Comisión de Estudios Jurídicos del Poder Ejecutivo, la cual es un órgano colegiado integrado por todas las unidades Jurídicas de la Administración Pública Estatal, a efecto de dotar de congruencia y certidumbre jurídica a las Secretarías, Dependencias y Entidades de la Administración Pública del Estado, así como administrar en el Registro Estatal de Regulaciones, como medio electrónico de compilación y difusión del marco normativo estatal.
    </p>

    <h2 class="text-3xl font-bold mb-6 text-gray-900 leading-tight">Visión</h2>
    <p class="text-lg text-gray-800 leading-relaxed mb-6">
      Ser el engranaje técnico jurídico, en el diseño e implementación de toda la política pública del Poder Ejecutivo del Estado y asumir, coordinar o dirigir su defensa constitucional y legal en sede jurisdiccional.
    </p>

    <h2 class="text-3xl font-bold mb-6 text-gray-900 leading-tight">Funciones</h2>
    <p class="text-lg text-gray-800 leading-relaxed">
      La Consejería Jurídica como dependencia del Poder Ejecutivo tiene las atribuciones y por ende obligaciones que le otorga el artículo 42 de la Ley Orgánica de la Administración Pública del Estado de Campeche.
    </p>
  </div>
</div>
